<div class='row-container'>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
</div>
<div class='row-container'>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
</div>
<div class='row-container'>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
    <div class='col1'>
        <app-card></app-card>
    </div>
</div>
<div class='row-container'>
        <div class='col1'>
            <app-card></app-card>
        </div>
        <div class='col1'>
            <app-card></app-card>
        </div>
        <div class='col1'>
            <app-card></app-card>
        </div>
    </div>

    <div class='row-container'>
            <div class='col1'>
                <app-card></app-card>
            </div>
            <div class='col1'>
                <app-card></app-card>
            </div>
            <div class='col1'>
                <app-card></app-card>
            </div>
        </div>

        <div class='row-container'>
                <div class='col1'>
                    <app-card></app-card>
                </div>
                <div class='col1'>
                    <app-card></app-card>
                </div>
                <div class='col1'>
                    <app-card></app-card>
                </div>
            </div>
