table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.table-filter {
  margin: 8px;
}


.add-btn-block{
  margin-top: 15px;
}

.example-full-width {
  width: 100%;
}

.btn-padding > * {
  padding:5px !important;
  margin:5px !important;
}