<div class="container-fluid">
  <div class="row content-padding card-row-margin">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <mat-card class="card-info color-green">
        <div class="row card-logo-icon">
          <mat-card class="color-red">
            <mat-icon class="card-icon" mat-button>all_inbox</mat-icon>
          </mat-card>
        </div>
        <div class="row">
          <h3>Orders</h3>
          <h4>5000</h4>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <mat-card class="card-info color-red">
        <div class="row card-logo-icon">
          <mat-card class="color-green">
            <mat-icon class="card-icon" mat-button>all_inbox</mat-icon>
          </mat-card>
        </div>
        <div class="row">
          <h3>Delivered</h3>
          <h4>4000</h4>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <mat-card class="card-info color-skyblue">
        <div class="row card-logo-icon">
          <mat-card class="color-orange">
            <mat-icon class="card-icon" mat-button>bubble_chart</mat-icon>
          </mat-card>
        </div>
        <div class="row">
          <h3>Analytics</h3>
          <h4>5000</h4>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
      <mat-card class="card-info color-orange">
        <div class="row card-logo-icon">
          <mat-card class="color-skyblue">
            <mat-icon class="card-icon" mat-button>attach_money</mat-icon>
          </mat-card>
        </div>
        <div class="row">
          <h3>Income</h3>
          <h4>5000</h4>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row content-padding">
    <div class="col-md-3 col-lg-3">
      <app-social-card></app-social-card>
    </div>
    <div class="col-md-3 col-lg-3">
      <app-social-card></app-social-card>
    </div>
    <div class="col-md-3 col-lg-3">
      <app-social-card></app-social-card>
    </div>
    <div class="col-md-3 col-lg-3">
      <app-social-card></app-social-card>
    </div>
  </div>
  <div class="row content-padding">
    <div class="col-lg-6">
      <mat-card>
        <canvas id='linechart-1'></canvas>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <canvas id='linechart-2'></canvas>
      </mat-card>
    </div>
  </div>
</div>
