<div class="container-fluid">

  <div class="row content-padding card-row-margin">
    <div class="col-lg-3 col-md-3">
      <mat-card class="card-info color-green">
        <div class="row">
          <div class="col-md-4">
            <mat-card class="card-logo-icon color-red">
              <mat-icon class="card-icon" mat-button>all_inbox</mat-icon>
            </mat-card>
          </div>
          <div class="col-md-8">
            <h2>Booking</h2>
            <h3>5000</h3>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3">
      <mat-card class="card-info color-red">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="card-logo-icon color-green">
                    <mat-icon class="card-icon" mat-button>add_shopping_cart</mat-icon>
                  </mat-card>
            </div>
            <div class="col-md-8">
              <h2>Booking</h2>
              <h3>5000</h3>
            </div>
          </div>
        
      </mat-card>
    </div>

    <div class="col-lg-3 col-md-3">
        <mat-card class="card-info color-skyblue">
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="card-logo-icon color-orange">
                        <mat-icon class="card-icon" mat-button>add_shopping_cart</mat-icon>
                      </mat-card>
                </div>
                <div class="col-md-8">
                  <h2>Booking</h2>
                  <h3>5000</h3>
                </div>
              </div>
            
          </mat-card>
    </div>

    <div class="col-lg-3 col-md-3">
        <mat-card class="card-info color-orange">
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="card-logo-icon color-skyblue">
                        <mat-icon class="card-icon" mat-button>add_shopping_cart</mat-icon>
                      </mat-card>
                </div>
                <div class="col-md-8">
                  <h2>Booking</h2>
                  <h3>5000</h3>
                </div>
              </div>
            
          </mat-card>
    </div>
  </div>
</div>
