.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 5px;
  }

  mat-grid-tile {
    background: lightblue;
  }
  .example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }

  .example-tab-icon {
    margin-right: 8px;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-selected-value {
  margin: 15px 0;
}