.toggle-menu {
  cursor: pointer;
}

.search-icon{
  padding-top:10px;
  opacity: 0.5;
}

.example-container {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
}

.toolbar{
  background: rgba(80, 38, 171, 0.9);
  color:rgba(255, 255, 255, 0.90);
}