
<mat-toolbar class='toolbar' [ngClass]="{
  'color-gradient-red': colorPicker.getColor()==='red',
  'color-gradient-black': colorPicker.getColor()==='black',
  'color-gradient-blue': colorPicker.getColor()==='blue',
  'color-gradient-green': colorPicker.getColor()==='green',
  'color-gradient-orange': colorPicker.getColor()==='orange'
}">
  <mat-toolbar-row class='row-container'>
    <mat-icon class="toggle-menu" mat-button (click)="toggleRightSidenav()">menu</mat-icon>
    <span class='col1'>nxt2solve</span>
    <span class='col1'></span>
    <mat-form-field class='col5'>
      <mat-icon class="search-icon" mat-button>search</mat-icon>
      <input matInput />
    </mat-form-field>
    <span class='col4'>
      <div class="nav-items">
        <div class="nav-item-icon">
          <mat-icon matBadge="15" matBadgeColor="warn" [matMenuTriggerFor]="menu">notifications</mat-icon>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Recevied 10 Emails</button>
              <button mat-menu-item>4 Task Pending</button>
          </mat-menu>
        </div>
        <div class="nav-item-icon">
          <mat-icon class="nav-item-icon" mat-button [matMenuTriggerFor]="menuprofile" >account_circle</mat-icon>
          <mat-menu #menuprofile="matMenu">
            <button mat-menu-item [routerLink]="['/pages/user-profile']">Profile</button>
            <button mat-menu-item [routerLink]="['/setting']">Settings</button>
            <button mat-menu-item [routerLink]="['/pages/sign-in']">Logout</button>
          </mat-menu>
        </div>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="query"  color="warn"></mat-progress-bar>
