@import '../../styles.scss';

.toolbar-shadow {
  box-shadow: 5px 10px 8px 10px #888888;
}

.toggle-menu {
  cursor: pointer;
  margin-right:6px;
}

.nav-items{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 15px;
}
.nav-item-icon{
  margin:8px;
  cursor: pointer;
  font-size: 24px;
}
.search-icon{
  padding-top:10px;
  opacity: 0.5;
}

.example-container {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
}

.toolbar{
  width: 100% !important;
  color:rgba(60, 72, 80, 0.8);
}

.toolbar-white>*{
  color: rgba(255, 255, 255, 0.75);
}

.toolbar-black>*{
  color: rgba(60, 72, 80, 0.75);
}
.color-gradient-blue{
  background-image: linear-gradient(
    to left bottom,
    $color-blue-alpha,
    $color-blue-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}

.color-gradient-red{
  background-image: linear-gradient(
    to left bottom,
    $color-red-alpha,
    $color-red-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}

.color-gradient-black{
  background-image: linear-gradient(
    to left bottom,
    $color-black-alpha,
    $color-black-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}

.color-gradient-green{
  background-image: linear-gradient(
    to left bottom,
    $color-green-alpha,
    $color-green-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}

.color-gradient-orange{
  background-image: linear-gradient(
    to left bottom,
    $color-orange-alpha,
    $color-orange-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}

.color-gradient-white{
  background-image: linear-gradient(
    to left bottom,
    $color-white-alpha,
    $color-white-beta
   ), url('/assets/toolbar-1.jpg');
   background-size: cover;
   background-position: top;
}