<mat-toolbar class='toolbar color-bluish'>
  <mat-toolbar-row class='row-container'>
    <mat-icon class="toggle-menu" mat-button (click)="toggleRightSidenav()">menu</mat-icon>
    <span class='col1'>Next 2 Solve</span>
    <span class='col1'></span>
    <mat-form-field class='col5'>
      <mat-icon class="search-icon" mat-button>search</mat-icon>
      <input matInput />
    </mat-form-field>
    <span class='col4'>
      <div class="nav-items">
        <div class="nav-item-icon" [matMenuTriggerFor]="menu">
          <mat-icon class="nav-item-icon" mat-button mat-button [matMenuTriggerFor]="menu">notifications
          </mat-icon>
          <mat-icon class="nav-item-icon" mat-button mat-button [matMenuTriggerFor]="menu">arrow_drop_down
          </mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div class="nav-item-icon">
            <mat-icon class="nav-item-icon" mat-button>account_circle
              </mat-icon>
        </div>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="query"></mat-progress-bar>
