<mat-toolbar class='toolbar mat-elevation-z4' [ngClass]="{
  'color-gradient-red': colorPicker.getColor()==='red',
  'color-gradient-black': colorPicker.getColor()==='black',
  'color-gradient-blue': colorPicker.getColor()==='blue',
  'color-gradient-green': colorPicker.getColor()==='green',
  'color-gradient-orange': colorPicker.getColor()==='orange',
  'color-gradient-white': colorPicker.getColor()==='white',
  'toolbar-black' : colorPicker.getColor() === 'white',
  'toolbar-white' : colorPicker.getColor() !== 'white'
}">
  <mat-toolbar-row class='row-container'>
    <mat-icon class="toggle-menu" mat-button (click)="toggleRightSidenav()">menu</mat-icon>
    <span class='col1'></span>
    <mat-form-field class='col5'>
      <mat-icon class="search-icon" mat-button>search</mat-icon>
      <input matInput />
    </mat-form-field>
    <span class='col4'>
      <div class="nav-items">
        <div class="nav-item-icon">
          <a href="http://docs.theme-lands.com" target="_blank">
            <mat-icon>feedback</mat-icon>
          </a>
        </div>
        <div class="nav-item-icon">
          <mat-icon matBadge="15" matBadgeColor="warn" [matMenuTriggerFor]="menu">notifications</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Recevied 10 Emails</button>
            <button mat-menu-item>4 Task Pending</button>
          </mat-menu>
        </div>
        <div class="nav-item-icon">
          <mat-icon class="nav-item-icon" mat-button [matMenuTriggerFor]="menuprofile">account_circle</mat-icon>
          <mat-menu #menuprofile="matMenu">
            <button mat-menu-item [routerLink]="['/pages/user-profile']">Profile</button>
            <button mat-menu-item [routerLink]="['/pages/sign-in']">Logout</button>
          </mat-menu>
        </div>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-progress-bar [mode]="sidenav.getQueryMode()" [color]="colorPicker.getProgressBarColor()">
</mat-progress-bar> -->