<div fxLayout="row" fxLayoutAlign="center center" class="login">
  <mat-card fxFlex="30">
    <form>
      <div fxLayout="column" fxLayoutGap="10px">
        <div class="form-login">
          <h3>Sign In</h3>
        </div>
        <mat-form-field class="login-input-width">
          <input matInput placeholder="Username" type="text" aria-label="Username" 
            [formControl]="stateCtrl">
        </mat-form-field>
        <mat-form-field class="login-input-width">
          <input matInput placeholder="Password" type="password" aria-label="Password" 
            [formControl]="stateCtrl">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-mini-fab color='Basic'><img width="28" height="28"
                src="https://img.icons8.com/color/50/000000/facebook-circled.png"></button>
            <button mat-mini-fab color='Basic'><img width="28" height="28"
                src="https://img.icons8.com/color/50/000000/linkedin-circled.png"></button>
            <button mat-mini-fab color='Basic'><img width="28" height="28"
                src="https://img.icons8.com/nolan/64/000000/github.png"></button>
          </div>
          <button mat-raised-button color="primary" class="login-button" [routerLink]="['/']">Login</button>
        </div>
        <div class="forgot-label">
          <a>Forgot Password?</a>
        </div>
      </div>
    </form>
  </mat-card>
</div>

