 <div class="container-fluid content-margin">
    <div class="row content-padding">
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
    </div>
    <div class="row content-padding">
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
    </div>
    <div class="row content-padding">
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
    </div>
    <div class="row content-padding">
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
        <div class="col-md-3 col-lg-3">
            <app-social-card></app-social-card>
        </div>
    </div>
 </div>