<div class="container-fluid">
    <div>
        <ng-chat [adapter]="adapter" [userId]="userId" #ngChatInstance></ng-chat>
    </div>
    <div class="social-block">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row content-padding">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <app-social-card></app-social-card>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>