<div class="row-container social-box-margin">
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
</div>
<div class="row-container social-box-margin">
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
</div>
<div class="row-container social-box-margin">
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
</div>

<div class="row-container social-box-margin">
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
  <div class="col1">
    <app-social-card></app-social-card>
  </div>
</div>



