.container-fluid {
  margin: 0px;
  padding: 0px;
}

.social-container {
  width: auto;
  height: 98vh;
}

.social-block {
  height: 100%;
}

.row {
  margin-left: 6px;
  margin-right: 6px;
}

.messenger-block {
  width: 235px;
  height: 100%;
}

.social-card-header-image {
  background-image: url('/assets/bird/birds-291a.jpg');
  background-size: cover;
}

.msg-list .mat-list-item{
  margin-top:10px;
}

.msg-title{
  padding-top:10px;
}
