<div fxLayout="row" fxLayoutAlign="center center" class="login">
  <mat-card fxFlex="35">
    <form>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div class="form-login">
            <h3>Reset Password</h3>
          </div>
          <mat-form-field class="login-input-width">
            <input matInput placeholder="Username or Email" aria-label="Username or Email"
              [formControl]="stateCtrl">
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button">Reset Password</button>
      </div>
    </form>
  </mat-card>
</div>
