<div class='container-fluid'>
  <div class="row">
    <div class='col-md-6'>
          <mat-card>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                  First
                </ng-template>
                Content 1
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                  Second
                </ng-template>
                Content 2
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                  Third
                </ng-template>

                Content 3
              </mat-tab>
            </mat-tab-group>
          </mat-card>
    </div>
    <div class='col-md-6'>
      <div class="col-container content-margin">
        <div class="col1">
          <mat-card>
            <mat-tab-group dynamicHeight>
              <mat-tab label="Short tab">
                <div class="example-small-box mat-elevation-z4">
                  Small content
                </div>
              </mat-tab>
              <mat-tab label="Long tab">
                <div class="example-large-box mat-elevation-z4">
                  Large content
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

  </div>
</div>