<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mat-elevation-z4">
          <div>
              <canvas id='linechart-1'></canvas>
          </div>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mat-elevation-z4">  
          <canvas id='linechart-2'></canvas>
      </mat-card>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-6">
        <mat-card class="mat-elevation-z4">
            <div>
                <canvas id='linechart-3'></canvas>
            </div>
        </mat-card>
      </div>
    </div>
</div>
