<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50">
      <mat-card>
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 4</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 5</mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </mat-card>
    </div>
</div>
