<div class="container-fluid">
  <div class="row content-padding">
    <div class="col-md-6 col-lg-6">
      <mat-card class="mat-elevation-z4">
        <h1>Stacked Form</h1>
        <form>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-checkbox class="example-margin">
              Remember Me
            </mat-checkbox>
          </div>
          <button mat-flat-button color="primary">Submit</button>
        </form>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6">
      <mat-card class="mat-elevation-z4">
        <h1>Horizontal Form</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput placeholder="Email">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput placeholder="Passeord" type="password">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <mat-checkbox class="example-margin">
                Remember Me
              </mat-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button mat-flat-button color="primary">Submit</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="row content-padding">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z4">
        <h1>Form Elements</h1>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-7">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput placeholder="Name">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-7">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Contact No.</label>
            <div class="col-sm-7">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-7">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Designation</label>
            <div class="col-sm-7">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <mat-select placeholder="Your Designation">
                  <mat-option *ngFor="let design of designations" [value]="design.value">
                    {{design.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Job Nature</label>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                  <mat-radio-group formControlName="floatLabel">
                    <mat-radio-button value="full-time">Full Time</mat-radio-button>
                    <mat-radio-button value="part-time">Part Time</mat-radio-button>
                    <mat-radio-button value="intern">Intern</mat-radio-button>
                  </mat-radio-group>
              </mat-form-field>
            </div>
          </div> -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <mat-checkbox class="example-margin">
                Remember Me
              </mat-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button mat-flat-button color="primary">Submit</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>