@import '../../styles.scss';

.sidebar-shadow {
  box-shadow: 0 16px 40px -10px rgba(0,0,0,.60), 0 4px 25px 0 rgba(0,0,0,.14), 0 9px 12px -4px rgba(0,0,0,.22);
}

.wrapper-body {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
}

.sidenav-container {
  width: 100%;
  height: 100vh;
}

.sidenav-white > * {
  color: rgba(255, 255, 255, 0.75);
  font-family:"Roboto","Helvetica","Arial","sans-serif";
  font-weight: 100;
}

.sidenav-black > * {
  color: rgba(60, 72, 80, 0.75);
  font-family:"Roboto","Helvetica","Arial","sans-serif";
  font-weight: 100;
}

.sidenav {
  max-width: 250px;
  overflow: scroll;
}


.sidenav-list {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
}

.sidenav-gradient-blue {
  background-image: linear-gradient(to right bottom,
    $color-blue-alpha,
    $color-blue-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.sidenav-gradient-red {
  background-image: linear-gradient(to right bottom,
    $color-red-alpha,
    $color-red-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.sidenav-gradient-black {
  background-image: linear-gradient(to right bottom,
    $color-black-alpha,
    $color-black-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.sidenav-gradient-green {
  background-image: linear-gradient(to right bottom,
    $color-green-alpha,
    $color-green-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.sidenav-gradient-orange {
  background-image: linear-gradient(to right bottom,
    $color-orange-alpha,
    $color-orange-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.sidenav-gradient-white {
  background-image: linear-gradient(to right bottom,
    $color-white-alpha,
    $color-white-beta),
    url('../../assets/sidebar-1.jpg');
  background-size: cover;
  background-position: top;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.btn-full-width {
  width: 100%;
  text-align: left;
  padding-left: 25%;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  border-radius: 0px;
}


::ng-deep .mat-panel-transparent>.mat-expanded,
.mat-expansion-panel {
  background: inherit;
  color:inherit;
  font-weight: 50;
}

.mat-expansion-panel-header-title {
  color:inherit;
  font-family:"Roboto","Helvetica","Arial","sans-serif";
  font-weight: 100;
}

::ng-deep .indicator-arrow > .mat-expansion-indicator:after {
  color: inherit;
}

.sidemenu-icon {
  padding-right: 8px;
  font-size: 18px;
}

.setting-btn {
  background: rgba(230, 78, 32, 0.0);
  width: 100%;
  color: rgba(255, 255, 255, 0.80) ;
  text-align: left;
  padding-left: 24px;

}

button:hover{
  background: white;
  color: black;
}

.doc-btn{
  text-decoration: none;
  background: white;
  position: absolute;
  display: inline-block;
  bottom: 100px;
}

.doc-btn:hover{
  background: red;
  color: white;
}