<!-- <perfect-scrollbar style="overflow: hidden;"> -->
  <app-sidebar></app-sidebar>
  <div class="menu-block" [ngClass]="{
    'menu-block-hide': closeSetting===true,
    'menu-block-open': closeSetting===false}">

    <mat-card class="menu-block-card">
      <button mat-raised-button (click)="toggle()" class="setting-btn" [ngClass]="{
        'color-red': colorPicker.getColor()==='red',
        'color-black': colorPicker.getColor()==='black',
        'color-blue': colorPicker.getColor()==='blue',
        'color-green': colorPicker.getColor()==='green',
        'color-orange': colorPicker.getColor()==='orange',
        'color-white': colorPicker.getColor()==='white'
      }">
        <mat-icon class="sidemenu-icon" mat-button>settings</mat-icon>
      </button>
      <div class="button-row">
        <h4>Sidebar & Toolbar Color</h4>
        <button mat-mini-fab class="color-red" (click)="onChooseColor('red')"
          [ngClass]="{'selection-border': getColor()==='red'}"></button>
        <button mat-mini-fab class="color-blue" (click)="onChooseColor('blue')"
          [ngClass]="{'selection-border': getColor()==='blue'}"></button>
        <button mat-mini-fab class="color-black" (click)="onChooseColor('black')"
          [ngClass]="{'selection-border': getColor()==='black'}"></button>
        <button mat-mini-fab class="color-green" (click)="onChooseColor('green')"
          [ngClass]="{'selection-border': getColor()==='green'}"></button>
        <button mat-mini-fab class="color-orange" (click)="onChooseColor('orange')"
          [ngClass]="{'selection-border': getColor()==='orange'}"></button>
        <button mat-mini-fab class="color-white" (click)="onChooseColor('white')"
          [ngClass]="{'selection-border': getColor()==='white'}"></button>
      </div>
      <div class="button-row">
        <h4>Query Loader</h4>
        <mat-slide-toggle #queryToggle>
        </mat-slide-toggle>
      </div>
    </mat-card>
  </div>
<!-- </perfect-scrollbar> -->