.wrapper-body{
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-block{
  position: absolute;
  top:10%;
  height: 250px;
  width:250px;
  background: none;
  z-index: 1000;
  transition: 0.5s;
}

.menu-block-hide{
  left:100%;
}

.menu-block-open{
  left:85%;
}

.menu-block-card{
  width: 100%;
  height: 100%;
}

.setting-btn{
  height: 35px;
  width: 60px;
  transform: translate(-110%,-20%);
}

.button-row > *{
  margin:4px;
}

.color-blue{
  background:blue;
  color:white;
}

.color-red{
  background:red;
  color:white;
}

.color-black{
  background:black;
  color:white;
}

.color-gray{
  background:gray;
  color:white;
}

.color-green{
  background:green;
  color:white;
}

.color-orange{
  background:orange;
  color:white;
}

.selection-border{
  border:4px solid rgb(113, 0, 128);
}
