<div class="container-fluid">
  <div class="row content-padding">
    <div class="col-md-6 col-lg-6">
      <mat-card>
        <agm-map [latitude]="lat1" [longitude]="lng1"></agm-map>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6">
      <mat-card>
        <agm-map [latitude]="lat2" [longitude]="lng2"></agm-map>
      </mat-card>
    </div>
  </div>
  <div class="row content-padding">
    <div class="col-md-12 col-lg-12">
      <mat-card>
        <agm-map [latitude]="lat2" [longitude]="lng2"></agm-map>
      </mat-card>
    </div>
  </div>
</div>