.section {
  background-image: linear-gradient(to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)), url('https://cdn.glitch.global/ffed6655-f0c8-43de-b7fc-94a19528fcaf/seashells-47a.jpg?v=1648999666623');
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.text-primary {
  color: white;
  font-family:  "Helvetica","Roboto", "Arial", "sans-serif";
}

.text-header {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
}

.text-title {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 50;
  letter-spacing: 2px;
}

.card-title{
  font-size: 16px;
  font-weight: 100;
  color: rgba(255, 4, 4, 0.856);
  text-transform: uppercase;
}

.card-plan-value{
  font-size: 35px;
}

.card-sub-title{
  font-size: 16px;
  color: gray;
  padding-top:15px;
  padding-bottom:5px;
}

.card-choose-button{
  margin-top:5px;
}

.mat-card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-family:  "Helvetica","Roboto", "Arial", "sans-serif";
}

.mat-card:hover{
  background-color: white;
  color: black;
}

::ng-deep .mat-card {
  border: 0px !important;
  border-radius: 0px !important;
}
