.section {
  background-image: linear-gradient(to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)), url('/assets/seashells-47a.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;

}

.text-section {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 80px;

}

.text-primary {
  color: white;
  font-family:  "Helvetica","Roboto", "Arial", "sans-serif";
}

.text-header {
  display: block;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
}

.text-title {
  display: block;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 50;
  letter-spacing: 2px;
}

.billing-section{
  top: 40%;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.center-item{
  margin: 0 auto !important;
}

.row-container > *{
  margin:4px;
}

.mat-card {
  width: 280px;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: block;
  text-align: center;
  font-family:  "Helvetica","Roboto", "Arial", "sans-serif";
  margin-bottom:15px;
}

.card-title{
  font-size: 16px;
  font-weight: 100;
  color: rgba(255, 4, 4, 0.856);
  text-transform: uppercase;
}

.card-circle{
  font-size: 60px;
  height: 120px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  display: inline-block;
}

.card-circle > *{
  font-size: 55px;
  color: red;
  padding-top:30px;
  padding-right:50px;
}

.card-plan-value{
  font-size: 35px;
}

.card-sub-title{
  font-size: 16px;
  color: gray;
  padding-top:15px;
  padding-bottom:5px;
}

.card-choose-button{
  margin-top:5px;
}

.mat-card:hover{
  background-color: white;
  color: black;
}

