<div fxLayout="column" fxLayoutAlign="center center" class="section" fxLayoutGap="50px">
  <div fxLayout="column" fxLayoutAlign="center center" class="text-primary">
    <span class="text-header">Pick the best plan for you</span>
    <span class="text-title">You have Free Unlimited Updates and Premium Support on each package.</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-card fxFlex="15">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <h6 class="card-title">Freelancer</h6>
          <button mat-fab>
            <mat-icon>
              backup
            </mat-icon>
          </button>
          <h3 class="card-plan-value">Free</h3>
          <p class="card-sub-title">This is good if your company size is less than 30 Persons.</p>
          <button mat-raised-button>Choose Plan</button>
        </div>
      </mat-card>
      <mat-card fxFlex="15">
        <div fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="20px">
          <h6 class="card-title">Small Company</h6>
          <button mat-fab>
            <mat-icon>
              home
            </mat-icon>
          </button>
          <h3 class="card-plan-value">20$</h3>
          <p class="card-sub-title">This is good if your company size is between 30 and 59 Persons.</p>
          <button mat-raised-button>Choose Plan</button>
        </div>
      </mat-card>
      <mat-card fxFlex="15">
        <div fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="20px">
          <h6 class="card-title">Medium Company</h6>
          <button mat-fab>
            <mat-icon>
              event
            </mat-icon>
          </button>
          <h3 class="card-plan-value">60$</h3>
          <p class="card-sub-title">This is good if your company size is between 60 and 99 Persons.</p>
          <button mat-raised-button>Choose Plan</button>
        </div>
      </mat-card>
      <mat-card fxFlex="15">
        <div fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="20px">
          <h6 class="card-title">Extra Pack</h6>
          <button mat-fab>
            <mat-icon>
              account_balance
            </mat-icon>
          </button>
          <h3 class="card-plan-value">100$</h3>
          <p class="card-sub-title">This is good if your company size is above 99+ Persons.</p>
          <button mat-raised-button>Choose Plan</button>
        </div>
      </mat-card>
  </div>
</div>
