<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="35">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <div class="card-header-text">
            <mat-card-title>Biswajit Debnath</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="profile-text">
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row">
                <div fxFlex="20" fxFlexOffset="10">Location</div>
                <div fxFlex="70">Germany</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" fxFlexOffset="10">Experience</div>
                <div fxFlex="70">4 Years</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" fxFlexOffset="10">Degree</div>
                <div fxFlex="70">B.Sc. (Engg)</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" fxFlexOffset="10">Contact</div>
                <div fxFlex="70">+88019XXXXXX21</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" fxFlexOffset="10">Email</div>
                <div fxFlex="70">biswajit.sust@gmail.com</div>
              </div>
            </div>
         </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" [style.margin-top]="'15px'">
            <a mat-mini-fab color='Basic' href="https://www.linkedin.com/in/coderbd/">
              <img width="28" height="28" src="https://img.icons8.com/color/50/000000/linkedin-circled.png">
            </a>
            <a mat-mini-fab color='Basic' href="https://github.com/coderbdsust" target="_blank">
              <img width="28" height="28" src="https://img.icons8.com/nolan/64/000000/github.png">
            </a>
          </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <mat-card class="experience-content mat-elevation-z4">
        <mat-card-header class="card-header-section">
          <mat-card-title>About me</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
             Software Engineer with several years of professional working experience in several
             software industries. Skilled in Java, Python, MySQL, Spring Boot, Javascript, Angular 2+,
             HTML, CSS, Git, Tomcat, Weblogic. Also, have deep learning knowledge, a section of Machine
             Learning. Strong engineering professional with a degree in Bachelor of Science focused in
             Computer Science And Engineering from Shahjalal University of Science and Technology, Bangladesh.
             Currently doing M.Sc. in Computational Modeling and Simulation in Technical University of Dresden, Germany.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="65">
      <mat-card class="mat-elevation-z4">
        <mat-card-header class="card-header-section">
          <mat-card-title>Experience</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" [style.margin-top]="'15px'">
              <div fxFlex="20" fxFlexOffset="10">2022 / FEB - 2022 / APR</div>
              <div fxFlex="70">
                <h4>SAP SE</h4>
                <h5>Working Student - Full Stack Developer</h5>
                <p>Berlin, Germany</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2019 / MAR - 2021 / MAR</div>
              <div fxFlex="70">
                <h4>Dutch Bangla Bank Limited</h4>
                <h5>Senior Officer (IT Development Division)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2018 / AUG - 2019 / MAR</div>
              <div fxFlex="70">
                <h4>Kinetik Care, USA</h4>
                <h5>Junior Engineer (Remote)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2016 / DEC - 2018 / MAY</div>
              <div fxFlex="70">
                <h4>IPvision Canada Inc</h4>
                <h5>Junior Software Engineer </h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-header class="card-header-section">
          <mat-card-title>Education</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" [style.margin-top]="'15px'">
              <div fxFlex="20" fxFlexOffset="10">2021 / APR - PRESENT</div>
              <div fxFlex="70">
                <h4>Technical University of Dresden, Germany</h4>
                <h5>M.Sc (Visual Computing)</h5>
                <p>Computational Modeling and Simulation</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2012 / JAN - 2016 / OCT</div>
              <div fxFlex="70">
                <h4>Shahjalal University of Science and Technology, Bangladesh</h4>
                <h5>B.Sc (Engg)</h5>
                <p>Computer Science and Engineering</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2009 / JUN - 2011 / JUL</div>
              <div fxFlex="70">
                <h4>Dhaka City College</h4>
                <h5>H.S.C (Science)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="20" fxFlexOffset="10">2004 / JAN - 2009 / DEC</div>
              <div fxFlex="70">
                <h4>Rampura Ekramunnessa High School</h4>
                <h5>S.S.C (Science)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>
