.card-header-image{
    background-image: url('/assets/dummy-face.png');
    background-size: cover;
    background-position: top;
    width: 100px;
    height: 100px;
}

.card-header-text{
    margin-top: 5%;
}

.profile-text{
    display: block;
    padding-top:5%;
}

.row-container{
    margin: 3%;
    padding-left:6%;
}

.row-container div:first-child{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

}

.row-container div:last-child{
    font-size: 14px;
}

.card-header-section{
    border-bottom: 1px solid rgba(170, 170, 170, 0.4);
}

h4, h5{
    margin-top: 0px;
}
.experience-content{
    margin-top:8px;
}

.login-btn-margin > * {
    margin-right:8px;
  }