<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 block-padding">
      <mat-card class="mat-elevation-z4">
        <div class="row">
          <div class="col-md-4">
            <mat-icon mat-button class="card-info-icon">account_box</mat-icon>
          </div>
          <div class='col-md-8'>
            <h4>Total Birds</h4>
            <h4>205</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 block-padding">
      <mat-card class="mat-elevation-z4">
        <div class="row">
          <div class="col-md-4">
            <mat-icon mat-button class="card-info-icon">monetization_on</mat-icon>
          </div>
          <div class='col-md-8'>
            <h4>Bird Sales</h4>
            <h4>205</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 block-padding">
      <mat-card class="mat-elevation-z4">
        <div class="row">
          <div class="col-md-4">
            <mat-icon mat-button class="card-info-icon">money_off</mat-icon>
          </div>
          <div class='col-md-8'>
            <h4>Bird Expenses</h4>
            <h4>205</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 block-padding">
      <mat-card class="mat-elevation-z4">
        <div class="row">
          <div class="col-md-4">
            <mat-icon mat-button class="card-info-icon">shopping_cart</mat-icon>
          </div>
          <div class='col-md-8'>
            <h4>Bird Orders</h4>
            <h4>2000</h4>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 block-padding">
      <div class="row">
        <div class="col-lg-6 col-md-6 block-padding">
          <mat-card class="mat-elevation-z4 ">
            <div class="col-container align-center">
              <div class="col1">
                <mat-icon mat-button class="card-block-icon">notifications</mat-icon>
              </div>
              <div class="col1">
                <h5>Notifications</h5>
              </div>
              <div class="col1">
                <h4>50</h4>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 block-padding">
          <mat-card class="mat-elevation-z4 ">
            <div class="col-container align-center">
              <div class="col1">
                <mat-icon mat-button class="card-block-icon">settings</mat-icon>
              </div>
              <div class="col1">
                <h5>Setting</h5>
              </div>
              <div class="col1">
                <h4>205</h4>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 block-padding">
          <mat-card class="mat-elevation-z4 ">
            <div class="col-container align-center">
              <div class="col1">
                <mat-icon mat-button class="card-block-icon">money</mat-icon>
              </div>
              <div class="col1">
                <h5>Price</h5>
              </div>
              <div class="col1">
                <h4>1000</h4>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-lg-6 col-md-6 block-padding">
          <mat-card class="mat-elevation-z4">
            <div class="col-container align-center">
              <div class="col1">
                <mat-icon mat-button class="card-block-icon">shopping_cart</mat-icon>
              </div>
              <div class="col1">
                <h5>Orders</h5>
              </div>
              <div class="col1">
                <h4>300</h4>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>Macaw</mat-card-title>
              <mat-card-subtitle>Macaw Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Macaws are native to Central America and North America (only Mexico),
                South America, and formerly the Caribbean.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <mat-card-header>
              <div mat-card-avatar class="social-card-header-image"></div>
              <mat-card-title>Macaw</mat-card-title>
              <mat-card-subtitle>Macaw Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Macaws are native to Central America and North America (only Mexico),
                South America, and formerly the Caribbean.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 block-padding">
      <div class="row">
        <div class="col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <mat-card-header>
              <div mat-card-avatar class="social-card-header-image"></div>
              <mat-card-title>Macaw</mat-card-title>
              <mat-card-subtitle>Macaw Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/bird/birds-291a.jpg" alt="Photo of a Macaw">
          </mat-card>
        </div>
        <div class="col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <mat-card-header>
              <div mat-card-avatar class="social-card-header-image"></div>
              <mat-card-title>Macaw</mat-card-title>
              <mat-card-subtitle>Macaw Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/bird/birds-363a.jpg" alt="Photo of a Macaw">
            <mat-card-content>
              <p>
                Macaws are native to Central America and North America (only Mexico),
                South America, and formerly the Caribbean.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 block-padding">
      <div class="row">
        <div class="col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <mat-card-header>
              <div mat-card-avatar class="social-card-header-image"></div>
              <mat-card-title>Macaw</mat-card-title>
              <mat-card-subtitle>Macaw Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/bird/birds-356a.jpg" alt="Photo of a Macaw">
            <mat-card-content>
              <p>
                Macaws are native to Central America and North America (only Mexico),
                South America, and formerly the Caribbean.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-12 block-padding">
          <mat-card class="social-card mat-elevation-z4">
            <img mat-card-image src="assets/bird/birds-351a.jpg" alt="Photo of a Macaw">
            <mat-card-content>
              <p>
                Macaws are native to Central America and North America (only Mexico),
                South America, and formerly the Caribbean.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>