<div class="row-container content-margin">
  <div class="col1">
    <mat-card>
      <div class="row-container align-center">
        <div class="col2">
          <mat-icon mat-button>cancel</mat-icon>
        </div>
        <div class="col10">
          <h1>New Leads</h1>
          <h1>21</h1>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col1">
    <mat-card>
      <div class="row-container align-center">
        <div class="col2">
          <mat-icon mat-button>cancel</mat-icon>
        </div>
        <div class="col10">
          <p>New Leads</p>
          <h1>21</h1>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col1">
    <mat-card>
      <div class="row-container align-center">
        <div class="col2">
          <mat-icon mat-button>cancel</mat-icon>
        </div>
        <div class="col10">
          <p>New Leads</p>
          <h1>21</h1>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col1">
    <mat-card>
      <div class="row-container align-center">
        <div class="col2">
          <mat-icon mat-button>cancel</mat-icon>
        </div>
        <div class="col10">
          <p>New Leads</p>
          <h1>21</h1>
        </div>
      </div>
    </mat-card>
  </div>

</div>
