.card-content { 
    display: flex; 
    justify-content: space-between;
    height: 100px;
}

.content-center{
    align-content: center;
}

.card-info-icon{
    font-size: 60px;
    text-align: center;
    color: rgba(80, 38, 171, 0.8);
}

h1,h2,h3,h4,h5{
    color: rgba(80, 38, 171, 0.8);
}