<div class="container-fluid ">
  <div class="row content-padding">
    <div class="col-lg-4">

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <div class="card-header-text">
            <mat-card-title>Biswajit Debnath</mat-card-title>
            <mat-card-subtitle>Web Developer</mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-text">
            <div class="row-container">
              <div class="col4">Age</div>
              <div class="col7">26 years</div>
            </div>
            <div class="row-container">
              <div class="col4">Location</div>
              <div class="col7">Dhaka, Bangladesh</div>
            </div>
            <div class="row-container">
              <div class="col4">Experience</div>
              <div class="col7">3 Years</div>
            </div>
            <div class="row-container">
              <div class="col4">Degree</div>
              <div class="col7">B.Sc. (Engg.)</div>
            </div>
            <div class="row-container">
                <div class="col4">Contact</div>
                <div class="col7">+8801937595521</div>
              </div>
              <div class="row-container">
                  <div class="col4">Email</div>
                  <div class="col7">biswajit.sust@gmail.com</div>
                </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-8">
      <mat-card>
        <mat-card-header class="card-header-section">
          <mat-card-title>Experience</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="row-container">
            <div class="col1">
              <div class="row-container">
                  <div class="col4"></div>
                  <div class="col7"></div>
              </div>
            </div>
            <div class="col1">
              <div class="row-container">
                  <div class="row-container">
                      <div class="col4"></div>
                      <div class="col7"></div>
                  </div>
              </div>
            </div>
          </div>

        </mat-card-content>

        <mat-card-header class="card-header-section">
          <mat-card-title>Education</mat-card-title>
        </mat-card-header>

        <mat-card-content>

        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
