<div class="container-fluid ">
  <div class="row content-padding">
    <div class="col-lg-4">

      <mat-card class="social-card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <div class="card-header-text">
            <mat-card-title>Biswajit Debnath</mat-card-title>
            <mat-card-subtitle>Web Developer</mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-text">
            <div class="row-container">
              <div class="col4">Age</div>
              <div class="col7">26 years</div>
            </div>
            <div class="row-container">
              <div class="col4">Location</div>
              <div class="col7">Dhaka, Bangladesh</div>
            </div>
            <div class="row-container">
              <div class="col4">Experience</div>
              <div class="col7">3 Years</div>
            </div>
            <div class="row-container">
              <div class="col4">Degree</div>
              <div class="col7">B.Sc. (Engg.)</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-8">
      <mat-card>
        <mat-card-header>
          <h2>ABOUT ME</h2>
        </mat-card-header>

        <mat-card-content>
          <h3>I'M WEB DESIGNER</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged.
          </p>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
