<div class="container-fluid ">
  <div class="row content-padding">
    <div class="col-lg-4 ">

      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <div class="card-header-text">
            <mat-card-title>Biswajit Debnath</mat-card-title>
            <mat-card-subtitle>Web Developer</mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-text">
            <div class="row-container">
              <div class="col4">Age</div>
              <div class="col7">26 years</div>
            </div>
            <div class="row-container">
              <div class="col4">Location</div>
              <div class="col7">Dhaka, Bangladesh</div>
            </div>
            <div class="row-container">
              <div class="col4">Experience</div>
              <div class="col7">3 Years</div>
            </div>
            <div class="row-container">
              <div class="col4">Degree</div>
              <div class="col7">B.Sc. (Engg.)</div>
            </div>
            <div class="row-container">
              <div class="col4">Contact</div>
              <div class="col7">+8801937595521</div>
            </div>
            <div class="row-container">
              <div class="col4">Email</div>
              <div class="col7">biswajit.sust@gmail.com</div>
            </div>
          </div>
          <div class="row-container">
            <div class="col1">
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3 login-btn-margin">
                  <button mat-mini-fab color='Basic'><img width="28" height="28"
                      src="https://img.icons8.com/color/50/000000/facebook-circled.png"></button>
                  <button mat-mini-fab color='Basic'><img width="28" height="28"
                      src="https://img.icons8.com/color/50/000000/linkedin-circled.png"></button>
                  <button mat-mini-fab color='Basic'><img width="28" height="28"
                      src="https://img.icons8.com/nolan/64/000000/github.png"></button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button color="primary">Update</button> -->
        </mat-card-actions>
      </mat-card>

      <mat-card class="experience-content mat-elevation-z4">
        <mat-card-header class="card-header-section">
          <mat-card-title>About me</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-8">
      <mat-card class="mat-elevation-z4">
        <mat-card-header class="card-header-section">
          <mat-card-title>Experience</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="experience-section">
            <div class="row-container">
              <div class="col2"><span>2019 - Present</span></div>
              <div class="col7">
                <h4>Dutch Bangla Bank Limited</h4>
                <h5>Probationary Officer (Software)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div class="row-container">
              <div class="col2">2018 - 2019</div>
              <div class="col7">
                <h4>Kinetik Care</h4>
                <h5>Junior Engineer</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div class="row-container">
              <div class="col2">2016 - 2018</div>
              <div class="col7">
                <h4>IPvision Canada Inc</h4>
                <h5>Junior Software Engineer </h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-header class="card-header-section">
          <mat-card-title>Education</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="education-section">
            <div class="row-container">
              <div class="col2">2011 - 2016</div>
              <div class="col7">
                <h4>Shahjalal University of Science and Technology</h4>
                <h5>B.Sc. (Engg)</h5>
                <p>Computer Science and Engineering</p>
              </div>
            </div>
            <div class="row-container">
              <div class="col2">2009 - 2011</div>
              <div class="col7">
                <h4>Dhaka City College</h4>
                <h5>H.S.C (Science)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div class="row-container">
              <div class="col2">2004 - 2009</div>
              <div class="col7">
                <h4>Rampura Ekramunnessa High School</h4>
                <h5>S.S.C (Science)</h5>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
