/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


$color-red-alpha: rgba(192, 39, 39, 0.8);
$color-red-beta: rgba(219, 27, 13, 0.8);
$color-blue-alpha: rgba(97, 61, 175, 0.8);
$color-blue-beta: rgba(40, 6, 114, 0.9);
$color-black-alpha: rgba(31, 29, 29, 0.4);
$color-black-beta: rgba(14, 13, 13, 0.8);
$color-green-alpha: rgba(45, 219, 45, 0.4);
$color-green-beta: rgba(24, 128, 29, 0.8);
$color-orange-alpha: rgba(212, 148, 29, 0.4);
$color-orange-beta: rgba(230, 145, 18, 0.8);


body,
html {
  height: 100%
}

body {
  margin: 0;
}

.content-margin > * {
  margin: 4px;
}

.content-padding > * {
  padding: 4px;
}

.row-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
}

.row-container-fluid{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

.col-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.col-container-fluid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 3;
}

.col4 {
  flex: 4;
}

.col5 {
  flex: 5;
}

.col6 {
  flex: 6;
}

.col7 {
  flex: 7;
}

.col8 {
  flex: 8;
}

.col9 {
  flex: 9;
}

.col10 {
  flex: 10;
}

.col11 {
  flex: 11;
}

.col12 {
  flex: 12;
}

.alert-color-danger{
  background: rgba(244, 204, 209, 0.9);
}

.alert-color-success{
  background: rgba(204, 233, 208, 0.9);
}

.alert-color-info{
  background: rgba(201, 232, 238, 0.9);
}

.alert-color-primary{
  background: rgba(194, 224, 255, 0.9);
}

.alert-color-warning{
  background: rgba(254, 240, 192, 0.9);
}

.alert-color-dark{
  background: rgba(204, 207, 208, 0.9);
}

.alert-text{
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-content: center;
}

.align-end {
  align-content: flex-end;
}

.align-space-between {
  align-content: space-between;
}

.align-space-around {
  align-content: space-around;
}

.align-stretch {
  align-content: stretch;
}

.row{
  margin-top:6px;
}


.background-blue{
  background: rgba(80, 38, 171, 0.4);
}

.background-red {
  background: rgba(230, 78, 32, 0.1);
}

.background-black {
  background: rgba(0, 0, 0, 0.1);
}

.background-green {
  background: rgba(10, 134, 37, 0.1);
}

.background-orange {
  background: rgba(231, 147, 21, 0.1);
}

