/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';


$color-red-alpha: rgba(192, 39, 39, 0.8);
$color-red-beta: rgba(219, 27, 13, 0.8);
$color-blue-alpha: rgba(97, 61, 175, 0.8);
$color-blue-beta: rgba(40, 6, 114, 0.9);
$color-black-alpha: rgba(31, 29, 29, 0.75);
$color-black-beta: rgba(14, 13, 13, 0.8);
$color-green-alpha: rgba(45, 219, 45, 0.7);
$color-green-beta: rgba(24, 128, 29, 0.9);
$color-teal-alpha: rgba(0, 37, 26, 0.8);
$color-teal-beta: rgba(0, 77, 64, 0.7);
$color-indigo-alpha: rgba(0, 0, 81, 0.95);
$color-indigo-beta: rgba(26, 35, 126, 0.80);
$color-white-alpha: rgba(243, 241, 241, 0.7);
$color-white-beta: rgba(255, 255, 255, 0.9);
$side-nav-width: 250px;



body,
html {
  height: 100%;
  overflow-x:hidden;
}

body {
  margin: 0;
}

.alert-color-danger{
  background: rgba(244, 204, 209, 0.9);
}

.alert-color-success{
  background: rgba(204, 233, 208, 0.9);
}

.alert-color-info{
  background: rgba(201, 232, 238, 0.9);
}

.alert-color-primary{
  background: rgba(194, 224, 255, 0.9);
}

.alert-color-warning{
  background: rgba(254, 240, 192, 0.9);
}

.alert-color-dark{
  background: rgba(204, 207, 208, 0.9);
}

.alert-text{
  color: rgb(0, 0, 0);
  font-weight: 400;
}

::ng-deep .mat-card {
  border: 0px !important;
  border-radius: 0px !important;
}