<div class="row-container content-margin">
  <div class="col1">
    <mat-card>
      <div class="col-container content-margin">
        <div class="col1">
          <app-bd-alert alert='Success' message='This is a success alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Info' message='This is a info alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Warning' message='This is a warning alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Danger' message='This is a danger alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Primary' message='This is a primary alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Light' message='This is a light alert' cancelBtn='True'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Dark' message='This is a dark alert' cancelBtn='True'></app-bd-alert>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col1">
    <mat-card>
      <div class="col-container content-margin">
        <div class="col1">
          <app-bd-alert alert='Success' message='This is a success alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Info' message='This is a info alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Warning' message='This is a warning alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Danger' message='This is a danger alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Primary' message='This is a primary alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Light' message='This is a light alert' cancelBtn='False'></app-bd-alert>
        </div>
        <div class="col1">
          <app-bd-alert alert='Dark' message='This is a dark alert' cancelBtn='False'></app-bd-alert>
        </div>
      </div>
    </mat-card>
  </div>
</div>
