<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-card row="50">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field fxLayoutAlign>
          <input matInput value="2000" placeholder="Duration in ms" #duration>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Alert Type</mat-label>
          <select matNativeControl required #action>
            <option value="success">Success</option>
            <option value="info">Info</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
            <option value="error">Error</option>
            <option value="dark">Dark</option>
            <option value="primary">Primary</option>
          </select>
        </mat-form-field>
        <button mat-button mat-raised-button (click)="openSnackBar(action.value, duration.value)">Show alert message</button>
      </div>
    </mat-card>
</div>